.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.card {
  list-style-type: none;
  margin: 10px;
  background-size: cover;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #64748b;
  padding: 25px;
}

.heading {
  margin: 0px;
  font-size: 25px;
  color: #326a9d;
}

.description {
  font-size: 14px;
  color: #326a9d;
}

.button {
  border-style: solid;
  border-width: 1px;
  border-color: #326a9d;
  border-radius: 4px;
  color: #326a9d;
  font-size: 11px;
  background-color: transparent;
  padding: 6px 12px;
}
